DB_PATH=src/db/database.db
ADMIN_TAILSCALE_IPS=100.x.x.x,100.x.x.x
ADMIN_SESSION_SECRET=xxxxxxx
ADMIN_1_NAME=niklas
ADMIN_1_PASSWORD_HASH=xxxxxxx
ADMIN_1_VAULT=*
ADMIN_2_NAME=jana
ADMIN_2_PASSWORD_HASH=xxxxxxx
ADMIN_2_VAULT=isekai-dnd