# Python
__pycache__/
*.py[codz]
*$py.class
*.so
tempCodeRunnerFile.py
.ruff_cache/

# Virtual Environment
.venv
venv/
env/

# Type Checker
.mypy_cache/
.dmypy.json

# Tests
.pytest_cache/
tests/dev-vaults/

# Environment
.env
.envrc

# Database
src/db/
database.db

# Node
node_modules/