# Python
__pycache__/
*.py[codz]
*$py.class
*.so
tempCodeRunnerFile.py
.ruff_cache/

# Virtual Environment
.venv
venv/

# Type Checker
.mypy_cache/
.dmypy.json

# Tests
.pytest_cache/
tests/

# Environment
.env
.envrc

# Database
src/db/

# Node
node_modules/

# cspell
.cspell.json
package.json
package-lock.json
